<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PawPaw</title>
    <link rel="stylesheet" href="/Styles/styles.css" />
    <script src="~/Js/lib/jquery-2.1.3.js"></script>
    <script src="~/Js/lib/react.js"></script>
    <script src="~/Js/lib/JSXTransformer.js"></script>
</head>
<body>
    @RenderBody()
</body>
</html>
