@model PawPaw.Core.Post
<div>
    <h1>@Model.Id</h1>
    <p>@Model.Body</p>
    <div>
        @{
            Html.RenderAction("GetByPost", "Comment", new {PostId = Model.Id});
        }
    </div>
    @{
        Html.RenderAction("New", "Comment", new { PostId = Model.Id });
    }
    @Html.ActionLink("Back", "Index", "Home")
</div>

