@model PawPaw.DemoWeb.Models.PostListingViewModel

<ul>
    @foreach (var post in @Model.Posts)
    {
        <li>@Html.ActionLink(string.Format("{0} - {1}", post.Id, post.Body), "Get", new { Id = post.Id })</li>
    }
</ul>

@{
    Html.RenderAction("New", new{GroupId = Model.GroupId});
}