@model IEnumerable<PawPaw.Core.Group>

<h1>Groups</h1>
<ul>
    @foreach (var group in Model)
    {
        <li>@Html.ActionLink(group.Name, "Get", new{Id=group.Id})</li>
    }
</ul>
@Html.ActionLink("Create group", "New")